
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">To-Do</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav" *ngFor="let list of menulist;">
      <li class="nav-item" [routerLink] = list.path>
        <a class="nav-link waves-light" mdbWavesEffect> {{list.name}}</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link">
          <app-notification></app-notification>
        </a>
      </li>
    </ul>


  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

